<div style="padding: 12px;">
  <div class="row">
    <div *ngFor="let i of proyectos; index as j;" class="col-s12 col-md-6 col-lg-4 mb-2">
        <div class="card" style="width: 100%;">
            <img class="card-img-top" src="assets/images/random/i-{{rnd[j]}}.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{i.nombre}}</h5>
              <p class="card-text">{{i.descripcion}}</p>
              <a [routerLink]="['/mis-proyectos', i.id]" style="cursor: pointer;" class="btn btn-primary">Ver proyecto</a>
            </div>
          </div>
    </div>
  </div>
</div>
